* {
    padding: 0px;
    margin: 0px;
    font-family: monospace;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
    width: 100%;
    height: 12vh;
    box-sizing: border-box;
    background-color: #24252a;
}

.ul-navbar {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.li-navbar {
    list-style: none;
    padding: 5px;
    margin: 5px;
}

.li-navbar a {
    color: #c5c5c5;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    transition: all .4s ease;

}

.li-navbar a:hover, .li-navbar a:active {
    font-size: larger;
    color: #24252a;
    background-color: #c5c5c5;
    border-radius: 50px;
    margin: 5px;
    padding: 10px;
}

.img-navbar {
    width: 5%;
    padding: 5px;
    margin: 5px;
}

body {
    background-color: #fde097;
}

.content {
    height: 68vh;
    background-color: #e7c05e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 20px;
}

.h1-cont {  
    border-radius: 50px;
    padding: 10px;
    margin: 10px;
    cursor: default;
}

.h1-cont::selection {
    background-color: #24252a;
}

.img-cont {
    width: 30%;
    object-fit: contain;
}

footer {
    color: #c5c5c5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
    background-color: #24252a;
    box-sizing: border-box;
}

.img-logo {
    width: 25%;
    padding: 10px;
    margin: 10px;
}